$weights: (
  "400": "Regular",
  "500": "Medium",
  "700": "Bold"
) !default;

@each $key, $val in $weights {
  @font-face {
    font-family: "Google Sans";
    font-style: normal;
    font-weight: #{$key};
    src: url("https://fonts.gabrieltoy1.repl.co/fonts/GoogleSans-#{$val}.ttf");
  }
  @if $key != "400" {
    @font-face {
      font-family: "Google Sans";
      font-style: italic;
      font-weight: #{$key};
      src: url("https://fonts.gabrieltoy1.repl.co/fonts/GoogleSans-#{$val}Italic.ttf");
    }
  } @else {
    @font-face {
      font-family: "Google Sans";
      font-style: italic;
      font-weight: #{$key};
      src: url("https://fonts.gabrieltoy1.repl.co/fonts/GoogleSans-Italic.ttf");
    }
  }
}
