<title><%= title %> · superStrap v1.0</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="<%= description %>">
<meta name="author" content="gtoy1118, muchtek, and superStrap contributors">
<meta name="generator" content="EJS">

<meta name="docsearch:language" content="en">
<meta name="docsearch:version" content="1.0">

<script src="https://gtoy1118.github.io/superstrap/dist/js/superstrap.bundle.min.js"></script>

<!-- Bootstrap core CSS -->
<style class="anchorjs"></style>
<link href="https://raw.githack.com/superstrap/superstrap/main/dist/css/superstrap.min.css" rel="stylesheet">

<link href="/css/site.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/assets/logo/logo@180h.png" sizes="180x180">
<link rel="icon" href="/assets/logo/logo@32h.png" sizes="32x32" type="image/png">
<link rel="icon" href="/assets/logo/logo@16h.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/assets/logo/manifest.json" type="image/png">
<link rel="mask-icon" href="/assets/logo/logo@1x.png" color="#7952b3" type="image/png">
<link rel="icon" href="/assets/logo/logo@1x.png" type="image/png">
<meta name="theme-color" content="#2775ea">

<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="https://superstrap.gabrieltoy1.repl.co">
<meta name="twitter:creator" content="muchtek, gtoy118">
<meta name="twitter:title" content="Introduction">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image" content="/assets/brand.png">

<!-- Facebook -->
<meta property="og:url" content="https://superstrap.gabrieltoy1.repl.co/">
<meta property="og:title" content="Introduction">
<meta property="og:description" content="<%= description %>">
<meta property="og:type" content="article">
<meta property="og:image" content="https://superstrap.gabrieltoy1.repl.co/assets/brand.png">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="512">
<meta property="og:image:height" content="512">

<script defer="" src="https://cdn.usefathom.com/script.js" data-site="ITUSEYJG"></script>
<script async="" src="https://www.google-analytics.com/analytics.js"></script>

<script id="\_carbonads_projs" type="text/javascript" src="https://srv.carbonads.net/ads/CKYIKKJL.json?segment=placement:getbootstrapcom&amp;callback=_carbonads_go"></script>